*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e8e8e8;
}
.centralize{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}

.screenHome{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.home{
    opacity: 0;
    width: 61vw;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem;
    gap: 2rem;
    transition: opacity .4s ease-in-out;
    cursor: default;
}

.title{
    font-size: 3.5rem;
    font-weight: bold;
}

.subTitle{
    font-size: 1.5rem;
    color: #0077ff;
    font-weight: bold;
}

.choose{
    display: flex;
    height: 100vh;
    width: 17vw;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    transition: opacity .4s ease-in-out;
    transform: translate(100px);
}

.cards .card {
    opacity: 0;
    background-color: #0077ff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 14vh;
    width: 17vw;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.cards .card p.tip {
    font-size: 1.1em;
    font-weight: 700;
    background-color: #00000000;
}

.cards .card p.second-text {
    font-size: 1em;
    background-color: #00000000;
}

.cards .card:hover {
    transform: scale(1.1, 1.1);
}

.cards:hover .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
}

.move1, .move2, .move3, .move4, .move5, .move6{
    transition: 0.4s ease-in-out;
}