:root{
    --colorBackgroud: #f1f1f1;
    --colorBlue: #0077ff;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--colorBackgroud);
}

.centralize{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lobbyClass{
    opacity: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.9em;
    transition: opacity .3s ease-in-out;
}

        button {
            font-family: inherit;
            display: inline-block;
            width: 6em;
            height: 2.6em;
            line-height: 2.5em;
            overflow: hidden;
            font-size: 0.55em;
            z-index: 1;
            color: var(--colorBlue);
            border: 0.15em solid var(--colorBlue);
            border-radius: 0.4em;
            position: relative;
        }
        
        button::before {
            position: absolute;
            content: "";
            background: var(--colorBlue);
            width: 150px;
            height: 200px;
            z-index: -1;
            border-radius: 50%;
        }
        
        button:hover {
            color: white;
        }
        
        button:before {
            top: 100%;
            left: 100%;
            transition: .3s all;
        }
        
        button:hover::before {
            top: -30px;
            left: -30px;
        }

.loading{
    background: var(--colorBackgroud);
    z-index: 999;
    height: 100vh;
    width: 100vw;
    position: fixed;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}
        .spinner {
            width: 2rem;
            height: 2rem;
            animation: spinner-y0fdc1 2s infinite ease;
            transform-style: preserve-3d;
            background-color: rgba(0,77,255,0);
        }
        
        .spinner > div {
            background-color: rgba(0,77,255,0.2);
            height: 100%;
            position: absolute;
            width: 100%;
            border: 2px solid #004dff;
        }
        
        .spinner div:nth-of-type(1) {
            transform: translateZ(-1rem) rotateY(180deg);
        }
        
        .spinner div:nth-of-type(2) {
            transform: rotateY(-270deg) translateX(50%);
            transform-origin: top right;
        }
        
        .spinner div:nth-of-type(3) {
            transform: rotateY(270deg) translateX(-50%);
            transform-origin: center left;
        }
        
        .spinner div:nth-of-type(4) {
            transform: rotateX(90deg) translateY(-50%);
            transform-origin: top center;
        }
        
        .spinner div:nth-of-type(5) {
            transform: rotateX(-90deg) translateY(50%);
            transform-origin: bottom center;
        }
        
        .spinner div:nth-of-type(6) {
            transform: translateZ(1rem);
        }
        
        @keyframes spinner-y0fdc1 {
            0% {
            transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
            }
        
            50% {
            transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
            }
        
            100% {
            transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
            }
        }

.welcome {
    height: 100vh;
    width: 100vw;
    opacity: 0;
    font-size: 1.5rem;
    font-weight: bold;
    transition: opacity .3s ease-in-out;
}

.credits{
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    font-size: 2rem;
    font-weight: bold;
    transition: opacity .3s ease-in-out;    
}

        .createBy{
            font-size: 1rem;
            font-weight: lighter;
        }