html{
    overflow-x: hidden;
    margin-bottom: 5%;
}

.gitBox{
    height: 7vh;
    width: 8vw;
    border-radius: 5px;
    font-size: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
    background-color: transparent;
    color: #0077ff;;
    border: 2px solid #0077ff;;
    transition: 0.1s;
}

.gitBox:hover{
    border: 2px solid transparent;
    background-color: #0077ff;;
    color: white;
}

.decorNone{
    text-decoration: none;
}

.slider{
    height: auto;
    max-width: 60vw;
    height: 60vh;
    position: absolute;
    transition: 0.5s;
    transform: translate(100vw);
}

.projects{
    gap: 35vh;
}

.s0, .c0{
    transform: translate(0px);
}

.sliders{
    max-height: 80vh;
    max-width: 80vw;
}

.btnBack, .btnNext, .btnNext2, .btnBack2{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    color: white;
    transition: 0.4s ease-in-out;
    align-items: center;
    justify-content: center;
    padding: .5%;
}

.btnBack, .btnBack2{
    left: 5%;
    z-index: 999;
    background-color: grey;
    opacity: 0.2;
    box-shadow: -1px 1px 3px black;
}

.btnNext, .btnNext2{
    right: 5%;
    z-index: 999;
    background-color: #0077ff;;
    box-shadow: 1px 1px 3px black;
}

.btnNext:hover, .btnBack:hover, .btnBack2:hover, .btnNext2:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.seta{
    color: white;
    background-color: transparent;
}

.setaB{
    margin-top: 10%;
    transform: rotate(-180deg);
}